/************ General ***********/
* {
    font-family: "Roboto",sans-serif;
    font-family: "Shrikhand",serif;
    box-sizing: border-box;
    -webkit-box-pack: center;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-box-align: center;
}

html {
    max-width: 1460px;
    margin-left: auto;
    margin-right: auto;
    
}

:root {
    --main-color: #F3F3F3;
    --main-bg-color: #99E2D0;
    --filter-bg-color: #DEEBFF;
}

body {
    box-sizing: border-box;
    margin: 0;
    font-family: "Roboto", sans-serif;
    max-width: 1500px;
}

a {
    text-decoration: none;
    color: white;
}


main {
    unicode-bidi: isolate;
}

.fa,
.fas {
    font-weight: 900;
}
.section {
    display: block;
    unicode-bidi: isolate;
    margin: 0;
    font-size: 22px;
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
    }

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;

}

h3 {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-block-end: 0px;
    unicode-bidi: isolate;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

.fa-solid {

}

/*************** Header *********/

header {
    height: 80px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-position: center;
    background-size: cover;
    box-shadow: 0px 5px 6px 0px;
    position: relative;

}

.header__logo {
    font-family: "Shrikhand", cursive;
    margin: 0;
    color: black;
    height: 63px;
}


/************** Location *************/

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;

}

.location {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F3F3F3;
    color: #7a7a7a;
}

.location__icon {

}


.location__city {
    margin-left: 13px;
    font-weight: 400;
}

/************** hero *************/

.hero {
    background: #fafafa;
    width: 100%;
}

.hero__container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px 0;
}

.hero__title {
    text-align: center;
    max-width: 250px;
    margin: 0;
}

.hero__text {
    text-align: center;
}

.hero__button {
    
    color: white;
    padding: 0 20px;
    border-radius: 200px;
    box-shadow: 0px 0px 10px 0px;
    opacity: 1;
}

/****************** Fonctionnement ****************/

.fonction {
    display: flex;
    background: white;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 25px 0;
    width: 100%;

}
.fonction__container {
    display: flex;
    background-color: white;
    flex-direction: column;
    max-width: 1200px;
    padding: 0;
    width: 95%;
}

.fonction__title {
    margin: 0;
}

.fonction__options {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.fonction__options-row {
    display: flex;
    align-items: center;
    background: #F6F6F6;
    height: auto;
    width: auto;
    margin: 10px 20px;
    border-radius: 20px;
    position: relative;
    box-shadow: 0px 0px 10px;
}

.fonction__number {
    background-color: #9356DC;
    color: white;
    position: absolute;
    padding: 3px 8px 3px 8px;
    border-radius: 500px;
    transform: translateX(-50%);
}
.fonction-icon {
    color: #7E7E7E;
    margin: 0 20px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

.fonction__text, p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}


/******************* Restaurants **********************/

.restaurants {
    display: flex;
    background-color: #F6F6F6;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    padding: 20px;
    max-width: 1200px;
}

.restaurants__title, h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

.restaurants__cards {
    display: grid;
    grid-template-rows: repeat(4,1fr);
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 20px;
}

.restaurants__card {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    position: relative;
    width: 100%;
    border-radius: 20px;
    transform: scale(1);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);

}

.restaurants__card-image {
    width: 100%;
    height: 190px;
}

.restaurants-card img {
    width: 100px;
    height: 115px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-sizing: border-box;
    object-fit: cover;

}

.restaurants__card-new {
    display: flex;
    background-color: #99E2D0;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 20px;
    right: 20px;
}

.restaurants__card-new p {
    color: #1B6150;
    padding: 10px 20px;
    margin: 0;
}

.restaurants__card-image img {
    overflow-clip-margin: content-box;
    overflow: clip;
}
.restaurants__block {
    display: flex;
    background: white;
    justify-content: space-between;
    align-items: center;
    width: 100px;
    height: 90px;
    border-radius: 0 0 20px 20px;
}

.restaurants__block-info .restaurants__card-city {
    color: black;
    margin-left: 20px;
}

.restaurants__card-name {
    font-weight: 700;
}


.restaurants__card-favorite {

}

/*************** Footer ***********/

footer {
    display: flex;
    justify-content: center;
    background-color: #353535;
    align-items: center;
    width: 100%;
    }

.footer__block {
    display: inline;
    padding: 0 40px;
    width: 100%;
    max-width: 1200px;
}
.footer-logo {
    font-family: "Shrikhand", cursive;
    color: white;
    font-size: 20px;
    padding: 15px 0;
}
.footer__block-liens {
    display: inline-flex;
    flex-direction: column;
    width: auto;
}

.fonction__block-lien {
    display: inline-flex;
    align-items: center;
    flex-direction: row;
    text-align: center;
    color: white;
    height: 30px;
    cursor: pointer;
}

.fonction__block-link i {
    margin-right: 7px;
}

.fonction__block-link__title {
    font-size: 16px;
    font-weight: 400;
}


